/* ============================================================
   WIEDZA NURKOWA (Science)
   ============================================================ */
.science-content h4 {
    color: #00d1b2;
    border-bottom: 1px solid #4a4a4a;
    padding-bottom: 10px;
    margin-top: 15px;
}